.joblisting-borders {
    padding:   1px;
    border-style: none;
    border-width: 2px;
    border-color: black;
}
.cell {
    margin: 2px;
}
.background-black {
    background-color: #505050;
}
.background-grey {
    background-color: #F2F2F2;
}
.background-blue {
    background-color: #AAAAF2;
}