<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Classified Defense Contractors</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">


    <a class="btn btn-lg btn-primary btn-block" role="button" href="/logout">Log Out Admin</a>
	    <p> {{ SPLASH }} </p>

    <hr>

      <form class="form-signin" role="form" target="/login" method="post">
        <h2 class="form-signin-heading">Create New News Post</h2>
        <h3>Heading</h3>
        <input name="heading" type="text" class="form-control" required>
        <h3>Body</h3>
        <textarea name='body' required> </textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create<button>
        <input type='hidden' name='mode' value='news'>
      </form>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
