<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Classified Defense Contractors</title>

    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}
    {% include 'navbar.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to CDC!</h1>
	    <p>Classified Defense Contractors (CDC) is a service provider
	    for several unnamed goverment agencies. Rest assured, we provide 
	    services of only the highest quality. We pride ourselves on our
	    excellent corporate culture, high productivity, and superior
    	moral and ethical standards. At Classified Defense Contractors, 
	    we are committed to excellence.</p>
        <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>News</h2>
            {% if NO_NEWS == False %}
	        <h3>{{NEWS.heading}}</h3>
	        <p>{{NEWS.body}}</p>
            {% else %}
            <h3> No recent news </h3>
            {% endif %}
            <p><a class="btn btn-default" href="news" role="button">More News &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Jobs</h2>
	  <p>Brief descriptions of fields available. The more button leads
	  to the jobs page, same as navbar</p>
          <p><a class="btn btn-default" href="jobs" role="button">See Jobs &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>About CDC</h2>
	  <p>CDC is more than just another software development firm. Here at
	  Classified Defense Contractors, we are right in the line of fire.
	  We work hand-in-hand with some of the most powerful agencies on
	  the planet, providing the essential services that keep America safe.
	  <p>
          <p><a class="btn btn-default" href="about" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      {% include "footer.html" %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
