<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CDC - Jobs</title>

    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jobs.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}
    {% include 'navbar.html' %}


    <div class="jumbotron">
      <div class="container">
        <h2>
          CDC Is Hiring!
        </h2>
        <p>
          Below are our available job positions.
        </p>
      </div>
    </div>
    
    {% set color = 'a' %}
    <div class="container">
    
    <div class="row background-blue">
        <div class="col-md-2 joblisting-borders background-blue"><p>Job Title</p></div>
        <div class="col-md-7 joblisting-borders background-blue"><p>Job Description</p></div>
        <div class="col-md-3 joblisting-borders background-blue"><p>Required Experience</p></div>
    </div>
    
    {% autoescape false %}
    {% for job in JOBS %}
    {% if color == 'a' %}
    <div class="row background-grey">
        <div class="col-md-2 joblisting-borders background-grey"><p> {{job.title}} </p></div>
        <div class="col-md-7 joblisting-borders background-grey"><p> {{job.desc}} </p></div>
        <div class="col-md-3 joblisting-borders background-grey"><p> {{job.exp}} </p></div>
    </div>
    {% else %}
    <div class="row background-blue">
        <div class="col-md-2 joblisting-borders background-blue"><p> {{job.title}} </p></div>
        <div class="col-md-7 joblisting-borders background-blue"><p> {{job.desc}} </p></div>
        <div class="col-md-3 joblisting-borders background-blue"><p> {{job.exp}} </p></div>
    </div>
    {% endif %}
    {% if color == 'a' %}
    {% set color = 'b' %}
    {% else %}
    {% set color = 'a' %}
    {% endif %}
    
    {% endfor %}
    {% endautoescape %}


      <footer>
      {% include 'footer.html' %}
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
